.rules-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}
.rules-page-title{
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
}
.rules-page-img{
    width: 300px;
    height: 300px;
}

.rules-page-orderlist{
    font-size: 20px;
    margin: 0;
}
.rules-page-orderlist > li{
    margin: 5px 0;
}